
<h1 style="text-align: center; background-color: cadetblue;">Online Voting System</h1>

<!--<button (click)="goToPage('main-page')">Main Page</button>-->

<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a routerLink = "/main-page" routerLinkActive="active" class="nav-link">MainPage</a>
      </li>
      
    </ul>
  </nav>
<div class="container">
    <router-outlet></router-outlet>

  </div>

  <footer class="footer">
    <div class="container">
      <span>All rights reserved 2021</span>
    </div>
  </footer>